amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
certifi==2017.7.27.1
chardet==3.0.4
Django==2.2
django-cacheops==4.0.1
django-celery-beat==1.1.0
django-cors-headers==2.1.0
django-debug-toolbar==1.8
django-dotenv==1.4.2
django-filter==1.1.0
django-jsonview==1.1.0
django-redis==4.8.0
django-statsd==2.1.1
django-statsd-mozilla==0.4.0
django-watchman==0.13.1
djangorestframework==3.9.3
djangorestframework-jwt==1.11.0
docopt==0.4.0
ephem==3.7.6.0
funcy==1.9.1
graphene==2.0
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
hiredis==0.2.0
idna==2.6
iso8601==0.1.12
kombu==4.1.0
mandrill==1.0.57
pika==0.11.0
promise==2.1
psycopg2==2.7.3.2
PyJWT==1.5.3
pymongo==3.6.0
python-statsd==2.1.0
pytz==2017.3
raven==6.3.0
redis==2.10.6
requests==2.18.4
Rx==1.6.0
simplejson==3.11.1
singledispatch==3.4.0.3
six==1.11.0
sqlparse==0.2.4
statsd==3.2.1
typing==3.6.2
urllib3==1.22
vine==1.1.4
