{%load static from staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>حذف ناموفق</title>
    <link rel="stylesheet" type="text/css" href="{% static 'general.css'%}">
</head>
<body>
<div id="login-container" style="left:0px; " >
    <div style="right:100px; text-align:center;">
       عملیات حذف ناموفق بود. شاید به این دلیل باشد که شما این کالا را سفارش نداده‌اید یا کالا دیگر در حال پخت است :دی
    </div>
    <a href="../">
        <div id="return-home-button" style="text-align:center;">
            بازگشت به صفحه اصلی
        </div>
    </a>
</div>
</body>
</html>