{%load static from staticfiles %}

<html>

<head>
    <title> خانه </title>
    <link rel="stylesheet" type="text/css" href="{% static 'general.css'%}">
</head>

<body>
<div id="home-top-panel">

    <a href="./logout">
        <button id="logout-button">
            خروج
        </button>
    </a>
    <h2>
        به نام خدا، خوش آمدید
    </h2>
    <h4>
        {{username}} اسم شما
    </h4>
</div>
<div id="home-bottom-panel">

    <div class="home-bottom-box">
        <p style="float: right;">از اینجا سفارش های خود را ببینید</p>

    </div>
    <div class="home-bottom-box">
        <p style="float: right;">از اینجا سفارش دهید</p>
        <br/>
        <form id="add-order-bar"  action="addorder" method="post" style="margin-top:70px; margin-left:10px;">
            {% csrf_token %}
            <select id="product-select" name="product-choice">
                {% for product in products %}
                <option value="{{product}}">
                    {{ product }}
                </option>
                {% endfor %}
            </select>
            <select id="place-container" name="place-choice">
                {% for place in places %}
                <option value="{{place}}">
                    {{ place }}
                </option>
                {% endfor %}
            </select>
            <input id="option-field" name="option" placeholder="enter your option">

            </input>
            <input type="submit" value="Submit">
        </form>
    </div>

</div>
</body>

</html>