<!DOCTYPE html>
<html>

<head>
    <title> صفحه اصلی </title>
    <link rel="stylesheet" type="text/css" href="general.css">
    <script type="text/javascript" src="general.js"></script>
</head>

<body>
<div id="login-container">
    <div>
        email:
    </div>
    <textarea id="email-field" placeholder="enter email">

        </textarea>
    <br/>
    <div>
        password:
    </div>
    <textarea id="password-field" placeholder="enter password">

        </textarea>
    <div id="submit-button" onclick="login()">
        ورود
    </div>
    <div id="error-message" >
        رمز یا ایمیل اشتباه است دوباره تلاش کنید
    </div>
</div>
</body>

</html>